main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.counter-box {
    border-style: solid;
    border-width: 1px;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}