/* comment */
body {
    background-color: #d47677;
    height: 100%;
    font-family: "lato";
}

.container {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.input-container {
    position: relative;
}

.input-container > label {
    position: absolute
}

.container-login {
    background-color: #F0F0F0;
    position: absolute;
    padding: 50px 100px;
    margin: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.login {
background-color: #9DD8D4;
position: relative;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
color: white;
}

h1 {
    text-align: center;
    color: #7E7E7E;
}

.input-container {
    padding: 5px;
}

#input-user {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  